In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import statistics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
#deep learning
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [4]:
df=pd.read_csv("Bank.csv", sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [8]:
label_encoder = LabelEncoder()
df['y']=label_encoder.fit_transform(df['y'])
df['y']

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

In [11]:
y = df['y']  # target variable
X = df.drop('y', axis=1,inplace=True)

KeyError: 'y'

In [15]:
df_encoded = pd.get_dummies(df,  drop_first=True)

df_encoded=df_encoded.astype(int)
df_encoded

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,56,261,1,999,0,1,93,-36,4,5191,...,1,0,0,0,1,0,0,0,1,0
1,57,149,1,999,0,1,93,-36,4,5191,...,1,0,0,0,1,0,0,0,1,0
2,37,226,1,999,0,1,93,-36,4,5191,...,1,0,0,0,1,0,0,0,1,0
3,40,151,1,999,0,1,93,-36,4,5191,...,1,0,0,0,1,0,0,0,1,0
4,56,307,1,999,0,1,93,-36,4,5191,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,334,1,999,0,-1,94,-50,1,4963,...,0,1,0,0,0,0,0,0,1,0
41184,46,383,1,999,0,-1,94,-50,1,4963,...,0,1,0,0,0,0,0,0,1,0
41185,56,189,2,999,0,-1,94,-50,1,4963,...,0,1,0,0,0,0,0,0,1,0
41186,44,442,1,999,0,-1,94,-50,1,4963,...,0,1,0,0,0,0,0,0,1,0
41187,74,239,3,999,1,-1,94,-50,1,4963,...,0,1,0,0,0,0,0,0,0,0

In [17]:
X=df_encoded

In [19]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,      # 20% test
    random_state=42,    # for reproducibility
    stratify=y          # keep the same class distribution
)

In [20]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled  = scaler.transform(X_test)

In [21]:
X_train.shape

(32950, 53)

In [22]:
model = Sequential([
    Dense(units=16, activation='relu', input_dim=X_train.shape[1]),
    Dense(units=8, activation='relu'),
    Dense(units=1, activation='sigmoid')  # single output node for binary classification
])

C:\Users\Vinit\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [24]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [25]:
history = model.fit(
    X_train_scaled, 
    y_train, 
    validation_split=0.2,   # further split the training data into train/val
    epochs=50,              # you can tune the epoch count
    batch_size=12,          # you can tune batch size
    verbose=2
)

Epoch 1/50
2197/2197 - 11s - 5ms/step - accuracy: 0.8550 - loss: 0.3106 - val_accuracy: 0.9046 - val_loss: 0.1979
Epoch 2/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9086 - loss: 0.1941 - val_accuracy: 0.9059 - val_loss: 0.1923
Epoch 3/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9100 - loss: 0.1881 - val_accuracy: 0.9073 - val_loss: 0.1901
Epoch 4/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9107 - loss: 0.1855 - val_accuracy: 0.9076 - val_loss: 0.1892
Epoch 5/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9126 - loss: 0.1825 - val_accuracy: 0.9052 - val_loss: 0.1926
Epoch 6/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9122 - loss: 0.1814 - val_accuracy: 0.9067 - val_loss: 0.1866
Epoch 7/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9124 - loss: 0.1796 - val_accuracy: 0.9033 - val_loss: 0.1884
Epoch 8/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9144 - loss: 0.1777 - val_accuracy: 0.9050 - val_loss: 0.1874
Epoch 9/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9149 - loss: 0.1768 - val_accuracy: 0.9071 - val_loss: 0.1875
Epoch 10/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9156 - loss: 0.1756 - val_accuracy: 0.9041 - val_loss: 0.1866
Epoch 11/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9167 - loss: 0.1745 - val_accuracy: 0.9030 - val_loss: 0.1876
Epoch 12/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9172 - loss: 0.1740 - val_accuracy: 0.9046 - val_loss: 0.1864
Epoch 13/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9179 - loss: 0.1731 - val_accuracy: 0.9052 - val_loss: 0.1898
Epoch 14/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9176 - loss: 0.1722 - val_accuracy: 0.9038 - val_loss: 0.1883
Epoch 15/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9180 - loss: 0.1714 - val_accuracy: 0.9038 - val_loss: 0.1885
Epoch 16/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9177 - loss: 0.1702 - val_accuracy: 0.9020 - val_loss: 0.1898
Epoch 17/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9193 - loss: 0.1697 - val_accuracy: 0.9039 - val_loss: 0.1908
Epoch 18/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9198 - loss: 0.1689 - val_accuracy: 0.9047 - val_loss: 0.1891
Epoch 19/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9198 - loss: 0.1690 - val_accuracy: 0.9058 - val_loss: 0.1895
Epoch 20/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9193 - loss: 0.1674 - val_accuracy: 0.9035 - val_loss: 0.1915
Epoch 21/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9202 - loss: 0.1677 - val_accuracy: 0.9044 - val_loss: 0.1900
Epoch 22/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9199 - loss: 0.1671 - val_accuracy: 0.9074 - val_loss: 0.1913
Epoch 23/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9215 - loss: 0.1665 - val_accuracy: 0.9026 - val_loss: 0.1927
Epoch 24/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9205 - loss: 0.1666 - val_accuracy: 0.9015 - val_loss: 0.1929
Epoch 25/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9209 - loss: 0.1655 - val_accuracy: 0.9030 - val_loss: 0.1913
Epoch 26/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9214 - loss: 0.1652 - val_accuracy: 0.9055 - val_loss: 0.1932
Epoch 27/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9196 - loss: 0.1652 - val_accuracy: 0.9024 - val_loss: 0.1916
Epoch 28/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9218 - loss: 0.1646 - val_accuracy: 0.9042 - val_loss: 0.1919
Epoch 29/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9217 - loss: 0.1637 - val_accuracy: 0.9027 - val_loss: 0.1909
Epoch 30/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9216 - loss: 0.1635 - val_accuracy: 0.9039 - val_loss: 0.1944
Epoch 31/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9218 - loss: 0.1635 - val_accuracy: 0.9003 - val_loss: 0.1925
Epoch 32/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9224 - loss: 0.1627 - val_accuracy: 0.9014 - val_loss: 0.1935
Epoch 33/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9223 - loss: 0.1629 - val_accuracy: 0.9033 - val_loss: 0.1928
Epoch 34/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9236 - loss: 0.1625 - val_accuracy: 0.9061 - val_loss: 0.1933
Epoch 35/50
2197/2197 - 11s - 5ms/step - accuracy: 0.9237 - loss: 0.1616 - val_accuracy: 0.9012 - val_loss: 0.1966
Epoch 36/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9231 - loss: 0.1619 - val_accuracy: 0.9030 - val_loss: 0.1954
Epoch 37/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9239 - loss: 0.1613 - val_accuracy: 0.9015 - val_loss: 0.1952
Epoch 38/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9240 - loss: 0.1610 - val_accuracy: 0.9005 - val_loss: 0.1961
Epoch 39/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9241 - loss: 0.1607 - val_accuracy: 0.9032 - val_loss: 0.1956
Epoch 40/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9251 - loss: 0.1600 - val_accuracy: 0.9026 - val_loss: 0.1958
Epoch 41/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9247 - loss: 0.1602 - val_accuracy: 0.9041 - val_loss: 0.1973
Epoch 42/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9239 - loss: 0.1601 - val_accuracy: 0.9014 - val_loss: 0.1971
Epoch 43/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9249 - loss: 0.1596 - val_accuracy: 0.9032 - val_loss: 0.1984
Epoch 44/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9245 - loss: 0.1591 - val_accuracy: 0.9002 - val_loss: 0.2003
Epoch 45/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9246 - loss: 0.1588 - val_accuracy: 0.8997 - val_loss: 0.2024
Epoch 46/50
2197/2197 - 6s - 3ms/step - accuracy: 0.9247 - loss: 0.1587 - val_accuracy: 0.9036 - val_loss: 0.1986
Epoch 47/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9245 - loss: 0.1594 - val_accuracy: 0.9024 - val_loss: 0.1987
Epoch 48/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9248 - loss: 0.1583 - val_accuracy: 0.9042 - val_loss: 0.1979
Epoch 49/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9254 - loss: 0.1579 - val_accuracy: 0.9026 - val_loss: 0.2006
Epoch 50/50
2197/2197 - 7s - 3ms/step - accuracy: 0.9266 - loss: 0.1575 - val_accuracy: 0.9012 - val_loss: 0.1993

In [29]:
loss, accuracy = model.evaluate(X_test_scaled, y_test, verbose=0)
print("\nTest Loss: {:.4f}".format(loss))
print("Test Accuracy: {:.4f}".format(accuracy))

Test Loss: 0.1925
Test Accuracy: 0.9087

In [30]:
y_pred_prob = model.predict(X_test_scaled)
# Convert probabilities to binary predictions (0 or 1) using 0.5 threshold
y_pred = (y_pred_prob > 0.5).astype("int32").ravel()

print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

258/258 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

Confusion Matrix:
[[7025  285]
 [ 467  461]]

Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.96      0.95      7310
           1       0.62      0.50      0.55       928

    accuracy                           0.91      8238
   macro avg       0.78      0.73      0.75      8238
weighted avg       0.90      0.91      0.90      8238